.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    &-logo{
        font-size: 23px;
        font-weight: 500;
    }
    &-list{
        display: flex;
        align-items: center;
        a{
            margin-right: 20px;
            border-bottom: 1px solid transparent;
            padding-bottom: 4px;
            transition: .3 all ease-in-out;

        }
        .fav{
            padding-bottom: 0;
        }
        b{
            margin-left: 20px;
        }

        .active{
            border-bottom: 1px solid white;

        }
    }
}